
.containerLeftColon{
    width: 100%;
    height: 100%;
   
}

.containerLeftColon h1{
    color:  #ffffff;
    font-size: 40px;
    margin: 10%;
    
}

.containerLeftColon p{
    color:  rgb(255, 255, 255);
    font-size: 20px;
    
}

.catcontainer1{
display: flex;
justify-content: center;
align-content: center;
flex-direction:row;
flex-wrap:wrap;
align-content: space-between;
width: 100%;

}

